html {
    height: 100%;     /* This is for the fixed-to-the-bottom footer */
    font-size: 1em;    }

body {    /* This spans the total screen width, 100% */
    padding-bottom: 4rem;
    background-color: white;
    color: black;
    font-family: 'Courier_New', Courier, Monotype;
    line-height: 1.7;   }

*, *:before, *:after {    /* Setting the more intuitive type of box-sizing to the entire site */
    box-sizing: border-box;   }

.yellowhover:hover {    /* For all hover states with a yellow background */
    background-color: #e2e43a;
    color: black;    } 

.yellowhover {    /* Nicer fade-in/-out effect */
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;    }

.center {
    max-width: 1225px;
    width: 78%;
    margin: 0 auto;    }

figure {    
    margin: 2rem 0;    }

figcaption {    
    background-color: rgba(255, 255, 255, 0.95);
    padding-bottom:  1rem;
    border-style: none none solid none;
    border-width: 0.12rem;
    margin: 1rem 0 2rem 0;
    font-size: 0.5rem;    }

.fullscreentoggle {
    box-sizing: content-box;
    height: 0.844rem;
    width: 0.844rem;
    padding: 0.422rem;
    cursor: pointer;
    float: right;
    position: relative;
    top: 0;    }


/* styles for LIGHTBOX MODE */

.sketch-lightbox {
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    margin-top: 0;    }

.canvaslightbox {
    display: block;
    margin-left: auto;
    margin-right: auto;    }

.lightboximage {
    cursor: auto !important;
    z-index: 101;
    max-width: 100vw;
    max-height: 100vh;
    margin-top: 0;    }

.lightboxcaption {
    cursor: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 0;
    padding: 2.11rem;
    padding-top: 3.13rem;
    border-style: none;
    width: 100vw;    }

.toprule {
    display: none;
    margin-top: -1rem;
    border-style: solid;
    border-color: black;
    border-width: 0.06rem;
    background-color: black;
    margin-bottom: 1rem;    }

.lightboxcaption > .toprule {
    display: block;    }

.hide {
    display: none;    }

.turn180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);    }

#captiontoggle {
    z-index: 103;
    position: absolute;
    top: 0.422rem;
    left: calc(100vw - 3.798rem);    }

#lightboxclose {
    z-index: 103;
    position: absolute;
    top: calc(0.844rem - 0.422rem);
    left: calc(100vw - 0.844rem - 1.266rem);    }

.close-x {
    box-sizing: content-box;
    height: 0.844rem;
    width: 0.844rem;
    padding: 0.422rem;
    cursor: pointer;
    float: right;    }

#toregview {
    position: absolute;
    top: 0;
    right: 0.422rem    }


/* MEDIAQUERIES */

@media (min-width: 442px) {
    html {
        font-size: 3.620vw;    }
}

@media (min-width: 650px) {
    html {
        font-size: 23.529px;    }

    .lightboxcaption {
        top: 0;
        left: 64.278vw;
        padding: 2.1rem;
        padding-top: 3.13rem;
        width: 35.71vw;    }
    #captiontoggle {
        z-index: 103;
        position: absolute;    }
}

@media (min-width: 817px) {
    .center {
        width: 641.929px;    }
}